* {
    box-sizing: border-box;
}

:root {
    --white1: #ffffff;
    --gray2: #ECECEC;
    --gray25: #d2d2d2;
    --gray26: #cacaca;
    --gray3: #666666;
    --gray5: #7c7c7c;
    --gray6: #414141;
    --gray7: #333333;
    --gray8: #222222;
    --orange1: #FF9900;
    --orange2: rgba(255, 153, 0, 0.6);
    --green: #97EE3F;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a, 
button,
input {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

a:focus,
button:focus,
input:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1770px;
    padding: 0 75px;
    margin: 0 auto;
}

.main__section {
    margin-bottom: 100px;
}

/* HEADER */

.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    align-items: center;
    min-height: 100px;
}

.header__logo {
    min-width: 224px;
}

.nav {
    display: flex;
}

.header__nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 85px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    font-weight: 600;
    font-size: 18px;
    color: var(--gray7);
    position: relative;
    transition: 0.8s;
}

.nav__link::after,
.nav__link-text::after {
	content: ' ';
    height: 2px;
    width: 100%;
    left: 0;
    background: var(--orange1);
    position: absolute;
    bottom: -6px;
    transition: 0.2s;
	transform: scaleX(0);
}

.nav__link:hover::after,
.nav__link:focus::after {
	transform: scaleX(1);
}

.search-btn {
    background-color: inherit;
    margin-left: 70px;
}

.search__svg {
    width: 25px;
    height: 25px;
    fill: var(--gray7);
    transition: 0.2s;
}

.search-btn:hover .search__svg,
.search-btn:focus .search__svg {
    fill: var(--orange1);
}

.burger__btn {
    display: none;
    position: relative;
    background-color: initial;
    width: 30px;
    height: 23px;
}

.burger__el {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--gray7);
    transition: 0.4s;
}

.burger__btn:before, 
.burger__btn:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--gray7);
    left: 0;
    transition: 0.4s;
}

.burger__btn:before {
    top: 0;
}

.burger__btn:after {
    bottom: 0;
}

.burger__btn.active {
    z-index: 4;
}

.burger__btn.active:before {
    transform: rotate(-45deg);
    top: 48%;
}

.burger__btn.active:after {
    transform: rotate(45deg);
    bottom: 43%;
}

.burger__btn.active .burger__el {
    transform: scale(0);
}

/* SECTION_FIRST */

.section-first {
    position: relative;
    content: '';
    max-width: 100%;
    min-height: 620px;
    padding: 5%;
}

.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--gray3);
}

.swiper-button-prev:hover,
.swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
    color: var(--orange1);
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--white1);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.swiper-pagination-bullet-active {
    background-color: var(--white1);
}

.section-first__title {
    max-width:  840px;
    position: relative;
    pointer-events: none;
    z-index: 1;
}

.title-h1 {
    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
    color: var(--white1);
}

.section-first__subtitle {
    max-width:  840px;
    margin-top: 32px;
    position: relative;
    pointer-events: none;
    z-index: 1;
}

.subtitle-h1 {
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    color: var(--white1);
}

.section-first__btn {
    text-align: center;
    margin-top: 110px;
    position: relative;
    z-index: 1;
}

.btn-calc {
    width: 287px;
    height: 80px;
    background-color: var(--orange1);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--white1);
    transition: 0.4s;
}

.btn-calc:hover,
.btn-calc:focus {
    background-color: var(--orange2);
}

/* SECTION_SECOND */

.title-h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--gray7);
}

.section-second__subtitle {
    margin-top: 6px;
    margin-bottom: 100px;
}

.subtitle-h2 {
    line-height: 32px;
    color: var(--gray7);
}

.point__exclamation {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url(../img/services/Exclamation.svg) no-repeat;
}

.section-second__content {
    display: flex;
}

.section-second__main {
    position: relative;
    content: '';
    top: 0;
    left: 0;
    min-width: 50%;
}

.section-second__banner {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
}

.banner__img {
    object-fit: cover;
    height: 100%;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 68px 40px 54px;
}

.description__text {
    max-width: 497px;
    font-weight: 700;
    line-height: 32px;
    color: var(--white1);
}

.description__deteils {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    margin-left: auto;
}

.btn-base {
    height: 58px;
    background-color: var(--orange1);
    border-color: var(--orange1);
    font-weight: 700;
    color: var(--white1);
    transition: 0.4s;
}

.btn-base--transparent {
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    vertical-align: bottom;
}

.btn-base--gray {
    border-width: 1px;
    border-color: var(--gray7);
    color: var(--gray7);
}

.btn-base--transparent:hover,
.btn-base--transparent:focus {
    background-color: var(--orange1);
}

.btn-base--transparent.btn-base--gray:hover,
.btn-base--transparent.btn-base--gray:focus {
    background-color: var(--gray7);
    color: var(--white1);
}

.section-second__cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.section-second__card {
    margin-top: 30px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 295px;
    border: 1px solid #CACACA;
    padding: 50px 118px 50px 63px;
}

.section-second__card:first-child {
    margin-top: 0;
}

.card::before {
    content: '';
    min-width: 178px;
    min-height: 155px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card--first::before {
    background-image: url(../img/services/Group1.png);
}

.card--second::before {
    background-image: url(../img/services/Group2.png) ;
} 

.card__text {
    max-width: 452px;
    margin-left: 59px;
}

.title-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--gray7);
}

/* SECTION_THIRD */

.section-third__steps {
    display: flex;
    margin-top: 38px;
}

.section-third__step {
    margin-left: 89px;
}

.section-third__step:first-child {
    margin-left: 0;
}

.section-third__link {
    font-size: 18px;
    line-height: 22px;
    background-color: inherit;
    color: var(--gray7);
    transition: 0.4s;
}

.section-third__link:hover,
.section-third__link:focus {
    color: var(--orange1);
}

.section-third__link--active {
    color: var(--orange1);
}

.section-third__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}

.section-third__main {
    width: 45%;
}

.section-third__subtitle {
    margin-top: 6px;
}

.section-third__btns {
    margin-top: 70px;
}

.section-third__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    margin-left: 30px;
}

.section-third__btn:first-child {
    margin-left: 0;
}

.section-third__deteils:hover,
.section-third__deteils:focus {
    background-color: var(--orange2);
}

.section-third__banner {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.banner__office {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* SECTION_FOURTH */

.section-fourt__list {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

.section-fourt__item {
    padding: 30px 0;
    border-top: 1px solid var(--gray25);
}

.section-fourt__item:last-child {
    border-bottom: 1px solid var(--gray25);
}

.ui-state-active {
    border: none;
    background-color: initial;
}

.ui-state-active.section-fourt__btn::after {
    transform: rotate(45deg);
}

.ui-accordion .ui-accordion-header.ui-state-active {
    padding: 0 0 10px 0;
}

.ui-state-default {
    border: none;
    background-color: initial;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

.ui-widget-content {
    border: none;
}

.item_gray {
    color: var(--gray25);
}

.section-fourt__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: start;
    transition: 0.4s;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.section-fourt__btn:hover,
.section-fourt__btn:focus {
    color: var(--orange1);
}

.section-fourt__btn::after {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../img/icons/Add.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    transform:rotate(0deg);
    transition: 0.4s;
}

.section-fourt__btn:hover::after,
.section-fourt__btn:focus::after {
    background-image: url(../img/icons/Add_hover.svg);
}

/* FOOTER */

.footer {
    background-color: var(--gray8);
    padding: 48px 0 80px 0;
}

.footer-container__position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container__list {
    margin-top: 20px;
}

.footer-list__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    transition: 0.2s;
}

.footer-list__link:hover,
.footer-list__link:focus {
    color: var(--orange1);
}

.footer-container__text--gray {
    color: var(--gray25);
}

.footer-container__social {
    display: flex;
    margin-top: 86px;
}

.social__item:not(:first-child) {
    margin-left: 20px;
}

.social__link {
    display: block;
    width: 60px;
    height: 60px;
    fill: var(--gray5);
    transition: 0.4s;
}

.social__link:hover,
.social__link:focus {
    fill: var(--orange1);
}

.footer-container__application {
    display: flex;
    flex-direction: column;
    max-width: 570px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form__input {
    height: 60px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    color: var(--gray26);
    background-color: var(--gray6);
    padding: 0 24px;
    margin-bottom: 25px;
}

.form__input::placeholder {
    color: var(--gray26);
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__input--textarea {
    width: 100%;
    min-height: 150px;
    padding-top: 20px;
    resize: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.form__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__agreement {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.form__checkbox+.form__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form__checkbox+.form__label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--gray25);
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.form__checkbox:checked+.form__label::before {
    background-image: url("../img/icons/Check_green.svg");
}

.form__line {
    display: none;
    width: 100%;
    height: 1px;
    background-color: var(--gray5);
}

.form__send {
    width: 270px;
    height: 60px;
    background-color: var(--orange1);
    text-align: center;
    font-weight: 700;
    color: var(--white1);
    transition: 0.4s;
}

.form__send:hover,
.form__send:focus {
    background-color: var(--orange2);
}

.footer-container__info {
    max-width: 360px;
}

.footer-container__logo--additional {
    display: none;
}

.footer-container__social--additional {
    display: none;
}

.footer-container__title-h2,
.footer-container__subtitle-h2,
.footer-list__link {
    color: var(--gray26);
}

/* 1440px */

@media (max-width: 1440px) {
    .header__nav {
        min-width: 70%;
    }

    .nav__list {
        justify-content: space-between;
        margin-left: auto;
        min-width: 80%;
    }

    .nav__item {
        margin-left: 0;
    }

    .card {
        flex-direction: column;
        padding: 50px;
    }

    .card__text {
        margin-left: 0;
    }

    .footer-container__info {
        display: none;
    }

    .footer-container__position {
        justify-content: space-around;
    }
}

/* 1024px */

@media (max-width: 1024px) {

    .wrapper {
        padding: 0 50px;
    }

    .main__section {
        margin-bottom: 70px;
    }

    .header__content {
        justify-content: space-between;
    }

    .header__logo {
        min-width: 150px;
    }

    .header__nav {
        position: absolute;
        min-width: 100%;
        min-height: 500px;
        top: 0;
        left: -100%;
        z-index: 3;
        transition: 0.4s;
    }
    
    .nav__list {
        position: absolute;
        justify-content: space-around;
        flex-direction: column;
        min-width: 30%;
        min-height: 100%;
        padding-top: 100px;
        background-color: var(--white1);
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        z-index: 3;
    }

    .header__nav.active {
        left: 0;
    }

    .search-btn {
        flex-shrink: 0;
        margin-left: 0;
    }
    
    .burger__btn {
        display: block;
    }

    .section-first {
        min-height: 100%;
        padding: 100px 45px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .title-h1 {
        font-size: 60px;
        line-height: 73px;
    }

    .subtitle-h1 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 18px;
    }

    .section-first__btn {
        flex-shrink: 0;
    }

    .section-second__subtitle {
        margin-bottom: 70px;
    }

    .section-second__content {
        flex-direction: column;
    }

    .section-second__main {
        min-height: 650px;
    }

    .section-second__cards {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .section-second__card {
        margin-top: 40px;
    }

    .card {
        flex-direction: row;
        justify-content: center;
        padding: 50px;
    }

    .card__text {
        margin-left: 59px;
    }

    .title-h3 {
        font-size: 20px;
    }
    
    .section-third__steps {
        max-width: 50%;
        justify-content: space-between;
    }

    .section-third__step {
        margin-left: 0;
    }

    .section-third__content {
        position: unset;
        flex-direction: column-reverse;
    }
    
    .section-third__main {
        width: 100%;
    }
    
    .section-third__banner {
        position: unset;
        width: 100%;
        margin-bottom: 20px;
    }

    .banner__office {
        height: auto;
    }

    .section-fourt__caption {
        max-width: 80%;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 20px;
    }

    .footer-conteiner__social {
        margin-top: 106px;
    }

    .footer-container__application {
        max-width: 534px;
    }

    .form__send {
        width: 240px;
    }
}

/* 768px */

@media (max-width: 768px) {

    .section-first.wrapper {
        max-width: 100%;
    }
    
    .section-first {
        padding: 80px 20px;
    }

    .title-h1 {
        font-size: 42px;
        line-height: 60px;
    }

    .section-first__btn {
        margin-top: 60px;
    }

    .section-third__steps {
        max-width: 100%;
    }

    .description {
        padding: 30px;
    }

    .description__text {
        flex: 1;
    }

    .description__deteils {
        margin-left: 40px;
    }

    .card {
        min-height: 235px;
        padding: 40px 30px;
    }

    .card::before {
        min-width: 130px;
        min-height: 104px;
    }

    .section-third__btns {
        margin-top: 40px;
    }

    .footer {
        padding: 58px 0;
    }

    .footer-container__position {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer-container__list {
        display: none;
    }

    .footer-container__logo {
        display: none;
    }

    .footer-container__social {
        display: none;
    }

    .footer-container__logo--additional {
        display: block;
        margin-top: 58px;
    }

    .footer-container__social--additional {
        display: flex;
        margin-top: 16px;
    }
}

/* 576px */

@media (max-width: 576px) {
    .wrapper {
        padding: 0 15px;
    }

    .main__section {
        margin-bottom: 40px;
    }

    .btn-base {
        height: 40px;
        font-size: 14px;
    }

    .header__search {
        display: none;
    }

    .header__content {
        min-height: 45px;
        flex-direction: row-reverse;
    }

    .header__logo {
        min-width: 97px;
    }

    .burger__btn {
        width: 25px;
        height: 19px;
    }

    .header__nav {
    }

    .header__nav.active {
    }

    .section-first {
        align-items: center;
        min-height: 262px;
        padding: 0;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
    }

    .section-first__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;
    }

    .title-h1 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    
    .subtitle-h1 {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        margin-top: 10px;
    }

    .title-h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .subtitle-h2 {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .title-h3 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }

    .section-first__btn {
        margin-top: 34px;
    }

    .btn-calc {
        width: 162px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
    }

    .section-second__subtitle {
        margin-bottom: 40px;
    }
    

    .section-second__main {
        position: unset;
        min-height: 100%;
    }
    
    .section-second__banner {
        position: unset;
    }

    .banner__img {
        width: 100%;
    }

    .description {
        position: unset;
        flex-direction: column;
        align-items: baseline;
        background: initial;
        padding: 0;
        height: 100%;
    }

    .description__text {
        color: var(--gray7);
    }

    .description__deteils {
        min-width: 162px;
        color: var(--orange1);
        margin-left: 0;
        margin-top: 10px;
    }

    .section-second__cards {
        margin-top: 40px;
    }

    .section-second__card {
        min-height: 100%;
        margin-top: 30px;
    }

    .btn-base--transparent {
        border-width: 2px;
    }

    .card::before {
        min-width: 63px;
        min-height: 55px;
    }

    .card__subtitle {
        margin-top: 6px;
    }

    .section-third__link {
        font-size: 14px;
        line-height: 17px;
    }

    .card {
        flex-direction: column;
        align-items: baseline;
        border: none;
        padding: 0;
    }

    .card::before {
        margin-bottom: 10px;
    }

    .card__text {
        margin-left: 0;
    }

    .section-third__content {
        margin-top: 20px;
    }

    .section-third__banner {
        width: 100%;
        margin-bottom: 18px;
    }

    .section-third__btns {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .section-third__btn {
        min-width: 0;
    }

    .section-third__deteils {
        width: 55%;
    }

    .section-third__btn.btn-base--transparent {
        width: 40%;
        border-width: 1px;
        margin-left: 10px;
    }

    .section-third__btns {
        margin-top: 30px;
    }

    .section-fourt__list {
        margin-top: 20px;
    }

    .section-fourt__item {
        padding: 20px 0;
        height: 100%;
    }

    .section-fourt__btn.title-h3 {
        font-size: 16px;
    }

    .section-fourt__btn::after {
        width: 30px;
        height: 30px;
        margin-left: 30px;
    }

    .ui-accordion .ui-accordion-header {
        font-size: 14px;
    }

    .footer {
        padding: 40px 0 20px 0;
    }

    .footer-container__application {
        width: 100%;
    }

    .form__input {
        font-size: 14px;
        line-height: 32px;
    }

    .form__btn {
        flex-direction: column;
    }

    .footer-container__subtitle-h2 {
        line-height: 20px;
    }

    .form__send {
        width: 180px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
    }

    .form__agreement {
        margin-left: 0;
        margin-top: 10px;
    }

    .form__line {
        display: block;
        margin-top: 30px;
    }

    .footer-container__logo {
        max-width: 130px;
        margin: 20px auto;
    }

    .footer-container__social {
        margin: 0 auto;
    }

    .social__link {
        width: 35px;
        height: 35px;
    }
}
